<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect" enabled="true" stopProcessing="true">
          <match url="^api/?(.*)" />
          <action type="Rewrite" url="https://sjkptestfunction.azurewebsites.net/api/{R:1}" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>